* {
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #fafafa;
}

/* Header */
header {
  width: 100%;
  height: 150px;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* Showcase */

.showcase {
  max-width: 100vw;
  height: 358px;
  display: grid;
  grid-template-columns: 32% 36% 32%;
  margin-top: 40px;
}

.showcase #img-left {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  left: -30px;
}

.showcase #img-right {
  position: relative;
  top: 70px;
  right: -30px;
  width: 100%;
  height: 100%;
}

.showcase .showcase-mid {
  display: grid;
  text-align: center;
}

.showcase .showcase-mid h1 {
  font-size: 64px;
  padding: 0 40px;
  color: #28283d;
  line-height: 64px;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 0;
}

.showcase .showcase-mid p {
  color: #87879d;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

/* buttons in showcase */

.showcase .showcase-mid-btns #btn-1 {
  background: #4d96a9;
  border: none;
  border-radius: 29px;
  color: #fafafa;
  padding: 20px 30px;
  margin-right: 10px;
  font-size: 16px;
  transition: all 400ms ease-in;
}

.showcase .showcase-mid-btns #btn-1:hover {
  background: #61adc0;
  transform: scale(0.95);
  cursor: pointer;
}

.showcase .showcase-mid-btns #btn-2 {
  background: #855fb1;
  border: none;
  border-radius: 29px;
  color: #fafafa;
  font-size: 16px;
  padding: 20px 30px;
  transition: all 400ms ease-in;
}

.showcase .showcase-mid-btns #btn-2:hover {
  background: #a27ecc;
  transform: scale(0.95);
  cursor: pointer;
}

.showcase .showcase-mid-btns #btn-1 span {
  color: #fafafa9c;
}

/* number-01 */

.number-1 {
  margin-top: 200px;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number-1 #line {
  border: #87879d2d solid 1px;
  height: 84px;
  position: absolute;
  top: 28px;
}

.number-1 p {
  color: #87879d;
  border: #87879d2d solid 1px;
  padding: 15px 18px;
  border-radius: 50%;
}

/* images  section 3*/

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  max-width: 100%;
  margin: 0 160px;
}

.images img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* text-info */

.text-info {
  width: 100%;
  height: 240px;
  position: relative;
  margin-top: 70px;
}

.text-info .inner-info {
  position: absolute;
  width: 540px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  text-align: center;
}

.text-info .inner-info h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  color: #4d96a9;
}

.text-info .inner-info h2 {
  color: #28283d;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  padding: 0 50px;
}

.text-info .inner-info p {
  color: #87879d;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  padding: 0 10px;
  padding-top: 30px;
}

/* number-02 */

.number-2 {
  margin-top: 30px;
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.number-2 #line-2 {
  border: #87879d2d solid 1px;
  height: 84px;
  position: absolute;
  top: 28px;
}

.number-2 p {
  margin-top: 70px;
  position: absolute;
  color: #87879d;
  border: #87879d2d solid 1px;
  padding: 15px 18px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fafafa;
  z-index: 3;
}

/* footer */

.footer {
  background: url('assets/desktop/image-footer.jpg') no-repeat center/cover;
  width: 100%;
  height: 308px;
  position: absolute;
}

.footer .footer-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: grid;
  grid-template-columns: 43% 43% 14%;
  align-items: center;
  justify-content: center;
}

.footer .footer-content h2 {
  color: #fafafa;
  font-size: 40px;
  line-height: 44px;
  font-style: normal;
  font-weight: 900;
  padding: 0 0 0 110px;
}

.footer .footer-content p {
  color: #fafafa;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  padding-right: 240px;
}

.footer::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #4d96a9;
  opacity: 0.8;
}

.footer .footer-content #btn-3 {
  background: #855fb1;
  border: none;
  border-radius: 29px;
  color: #fafafa;
  padding: 20px 35px;
  font-size: 16px;
  margin-right: 20px;
  transition: all 400ms ease-in;
}

.footer .footer-content #btn-3 span {
  color: #fafafa9c;
}

.footer .footer-content #btn-3:hover {
  background: #a27ecc;
  transform: scale(0.95);
  cursor: pointer;
}

.footer .footer-end {
  position: absolute;
  bottom: 10px;
  left: 30%;
  right: 30%;
  text-align: center;
  color: #fafafa;
  z-index: 2;
}
